



.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edecec;
    padding: 10px;
    margin: 0 auto;
}

.inputText {
    padding: 10px;
    width: 50%;
    font-size: 18px;
}